/* general purpose styles */
@import '@/styles/_breakpoints.scss';
@import '@/styles/_colors.scss';
@import '@/styles/_components.scss';
@import '@/styles/_fonts.scss';

html,
body {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 62.5%; // so 1.0rem = 10px
}

body {
  align-items: center;
  background-color: $background-color;
  color: $font-color;
  display: flex;
  font-family: 'Work Sans', 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 600;
  justify-content: center;
}

#app {
  // display: flex;
  align-content: start;
  display: grid;
  justify-content: center;
  // flex-wrap: wrap;
  grid-template-columns: repeat(16, [col] 1fr);
  grid-column-gap: 20px;
  // grid-template-rows: repeat(12, [row] 1fr);
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd'
  'mn mn mn mn mn mn mn mn mn mn mn mn mn mn mn mn'
  'ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft';
  height: 100%;
  // padding: 0 2.0rem;
  overflow-y:hidden;
  width: 100%;
}

h0 {
  font-size: 144px;
  font-size: 14.4rem;
  // letter-spacing: 2%;
}

h1 {
  font-size: 40x;
  font-size: 4rem;
}

h2 {
  font-size: 36px;
  font-size: 3.6rem;
}

h3 {
  font-size: 22px;
  font-size: 2.2rem;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
  letter-spacing: 0.05rem;
}

p {
  font-size: 16px;
  font-size: 2rem;
}
/*
li {
  font-size: 16px;
  font-size: 1.6rem;
}
*/
a:hover {
  cursor: pointer;
}

// see if i don't need this
/*
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
*/
