/* general purpose styles */
@import '@/styles/_breakpoints.scss';
@import '@/styles/_colors.scss';
@import '@/styles/_components.scss';
@import '@/styles/_fonts.scss';

html,
body {
  box-sizing: border-box;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  width: 100%;
}

html {
  font-size: 62.5%; // so 1.0rem = 10px
}

body {
  align-items: center;
  background-color: $background-color;
  color: $font-color;
  display: flex;
  font-family: 'Work Sans', 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 500;
  justify-content: center;
}

#app {
  align-content: start;
  //display: grid;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(2, [col] 1fr);
  grid-column-gap: 20px;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
  'hd hd'
  'mn mn'
  'ft ft';
  height: 100%;
  // padding: 0 2.0rem;
  // overflow-y:hidden;
  width: 100%;
  @include breakpoint(small) {
    grid-template-areas:
      'hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd hd'
      'mn mn mn mn mn mn mn mn mn mn mn mn mn mn mn mn'
      'ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft ft';
    grid-template-columns: repeat(16, [col] 1fr);
  }
}

h0 {
  font-size: 144px;
  font-size: 14.4rem;
  // letter-spacing: 2%;
}

h1 {
  letter-spacing: 2%;
  line-height: 90%;
  font-family: 'Playfair Display';
  font-size: 64px;
  font-size: 6.4rem;
}

/*
h1 {
  font-size: 40x;
  font-size: 4rem;
}
*/
h2 {
  font-size: 36px;
  font-size: 3.6rem;
  line-height: 90%;
}

h3 {
  font-size: 24px;
  font-size: 2.4rem;
  // letter-spacing: 0%;
  line-height: 100%;
}

h4 {
  font-size: 20px;
  font-size: 2rem;
}

h5 {
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
}

p {
  // font-size: 16px;
  // font-size: 2rem;
  font-size: 24px;
  font-size: 2.4rem;
}
/*
li {
  font-size: 16px;
  font-size: 1.6rem;
}
*/
a:hover {
  cursor: pointer;
}

/* Components */

.button {
  color: $font-color;
  font-family: 'Work Sans', 'Avenir', Helvetica, Arial, sans-serif;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
}

.link {
  color: $font-color;
  font-size: 12px;
  font-size: 1.2rem;
  font-weight: 600;
  text-decoration: none;
}
