/* general purpose styles */
@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,500');

html {
  font-size: 62.5%; // so 1.0rem = 10px
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

#app {
  background-color: #121315;
  font-family: 'Work Sans', 'Avenir', Helvetica, Arial, sans-serif;
  font-weight: 500;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  // color: #2c3e50;
  color: #F3F3F3;
  height: 100%;
  overflow-x: hidden;
  width: 100%;
}

h1 {
  font-size: 40x;
  font-size: 4.0em;
}

h4 {
  font-size: 20px;
  font-size: 2.0rem;
  letter-spacing: 1.0rem;
}

// see if i don't need this
/*
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
*/

