/* Import General Purpose */
@import '@/styles/_colors.scss';

.coming-soon {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  .message {
    // position: absolute;
  }
  .en {
    position: absolute;
    opacity: 0;
  }
  .fr {
    position: absolute;
    opacity: 0;
  }
  .elli {
    // position: relative;
  }
}
