/* Footer Styling */
@import '@/styles/_breakpoints.scss';

.footer {
  align-items: center;
  background-color: white;
  color: black;
  display: flex;
  flex-wrap: nowrap;
  grid-area: ft;
  // grid-column: col / 13;
  grid-row: 12;
  justify-content: space-between;
  padding: 0 2.5%;
  width: 95%;
  z-index: 5;
}

#thisMoment {
  width: 100%;
  @include breakpoint(large) {
    width: 50%;
  }
}

.footer__links {
  display: none;
  @include breakpoint(medium) {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 50%;
    li {
      display: flex;
      font-size: 12px;
      font-size: 1.2rem;
      font-weight: bold;
      justify-content: flex-end;
      padding-left: 2.5rem;
      width: auto;
      a {
        color: black;
        text-decoration: none;
      }
      a:hover {
        text-decoration: underline;
      }
    }
  }
}
