/* Header Styling */
@import '@/styles/_breakpoints.scss';

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  grid-column: 1 / 13;
  grid-row: 1;
  justify-content: space-between;
  padding: 0 2.5%;
  width: 95%;
}

#logo {
  width: 50%;
  @include breakpoint(phone) {
    width: 75%;
  }
}

#headerLinks {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  width: 50%;
  li {
    display: flex;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: flex-end;
    padding-left: 2.5rem;
    width: auto;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}
