/* Header Styling */
@import '@/styles/_breakpoints.scss';

.header {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-wrap: nowrap;
  grid-column: col / 13;
  grid-row: 1;
  justify-content: space-between;
  padding: 0 2.5%;
  width: 95%;
  z-index: 10;
}

.navigation {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
  margin: 0;
  padding: 0;
  .navigationLinks {
    display: flex;
    font-size: 12px;
    font-size: 1.2rem;
    font-weight: bold;
    justify-content: flex-end;
    padding-left: 2.5rem;
    width: auto;
    a {
      color: white;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
  }
  .navigationLinks--nav-desktop {
    display: none;
    @include breakpoint(medium) {
      display: inherit;
    }
  }
}

.navigation--router-links {
  margin-left: auto;
}

.button--sitemap {
  padding-left: 2.5rem;
}

.navigation--full-menu {
  // display: none;
}
