/* styles specific to navbar */

.navbar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  height: auto;
  width: 95%;
}

.navToggle {
  z-index: 50;
}

.navMenu {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 100%;
  justify-content: center;
  list-style-type: none;
  position: absolute;
  width: 100%;
}

.navlinks {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.navlinks a {
  font-size: 18px;
  font-size: 1.8rem;
  padding: 0 0.5rem;
  list-style-type: none;
}
