/* styles specific to navbar */
@import '@/styles/_colors.scss';

.navbar {
  align-items: flex-start;
  // background-color: red;
  display: flex;
  grid-column: 2 / 25;
  grid-row: 1;
  justify-content: space-between;
  margin-top: 1%;
  height: auto;
  width: 100%;
}

#navToggle:hover {
  // display: none;
}

.logo h4 {
 margin: 0;
 // padding: 0;
}

.navToggle {
  z-index: 50;
}

.navMenu {
  align-items: center;
  background-color: $background-color;
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  right: 0;
  width: 100%;
}

.navlinks {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  list-style-type: none;
  width: 100%;
}

.navlinks a {
  color: $font-color;
  font-size: 36px;
  font-size: 3.6rem;
  padding: 0 0.5rem;
  list-style-type: none;
}
